* {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

html {
  height: 100%;
  background: #47171A;
  background: linear-gradient(180deg,rgba(71, 23, 26, 1) 0%, rgba(5, 1, 1, 1) 100%);
}

body {
  min-height: 100vh;
  width: 100%;

  header {
    height: 83px;
    width: 100%;
    border-bottom: 0.0625rem solid rgba(128, 128, 128, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .header {
      align-items: center;
      padding: 10px;
      width: 100%;
      max-width: 1100px;

      img {
        max-width: 180px;
      }
    }
  }

  .content {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px 20px;

    h1 {
      font-size: 2rem;
    }

    .text {
      color: #ffffffb3;
      margin: 5px 0px;
    }

    .form {
      display: flex;
      flex-direction: column;

      .inputDefault {
        background-color: #1B1212;
        border-color: #ffffff7f;
        border-width: 1px;
        margin: 10px 0 0 0;
        height: 46px;
        border-radius: 4px;
        padding: 0 0 0 12px;
        font-weight: 500;
        font-size: 1rem;
        color: #ffffff;
      }

      .inputError {
        background-color: #1B1212;
        border-color: red;
        border-width: 1px;
        margin: 10px 0 0 0;
        height: 46px;
        border-radius: 4px;
        padding: 0 0 0 12px;
        font-weight: 500;
        font-size: 1rem;
        color: #ffffff;
      }

      .loginMessage {
        margin: 5px 0 0 0;
      }

      .loginMessageSuccess {
        margin: 5px 0 0 0;
        color: green;
      }

      .formButton {
        background-color: #E50914;
        border-color: #E50914;
        border-width: 1px;
        margin: 10px 0 0 0;
        height: 46px;
        border-radius: 4px;
        font-size: large;
        font-weight: 600;
      }

      .loginInfo {
        margin: 10px;
        text-align: center;
        color: gray;
      }
    }
  }
}